<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h2>Contacts</h2>
        <!-- <% // if(status === "success") { %>
        <h2>Contact uploaded sucessfully !!!</h2>
        <% // } %> -->
            <ul>
                <form id="contact-form" method="POST" action="/contact">
                    <li>Name: <input type="text", name="uname"></li>
                    <li>Email: <input type="text" name="email"></li>
                    <li>Phone: <input type="text" name="phone"></li>
                    <input type="submit" name="submit" value="Submit"></li>
                </form>
            </ul>         
    </body>
</html>